* {
    box-sizing: border-box;
  }
  
  .nav {
    position: fixed;
    padding: 2em;
    width: 100%;
    text-align: center;
    z-index: 1000000;
    color: #fff;
    mix-blend-mode: difference;
    font-family: "Neue Montreal";
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
  }
  
  .gallery {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .cards {
    position: absolute;
    width: 75vw;
    height: 50rem;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .cards li {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 75vw;
    height: 50rem;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  li:nth-child(1) {
    background: url(https://showcase.paulmazeau.com/images/01.webp) no-repeat 50% 50%;
    background-size: cover;
  }
  
  li:nth-child(2) {
    background: url(https://showcase.paulmazeau.com/images/02.webp) no-repeat 50% 50%;
    background-size: cover;
  }
  
  li:nth-child(3) {
    background: url(https://showcase.paulmazeau.com/images/03.webp) no-repeat 50% 50%;
    background-size: cover;
  }
  
  li:nth-child(4) {
    background: url(https://showcase.paulmazeau.com/images/04.webp) no-repeat 50% 50%;
    background-size: cover;
  }
  
  li:nth-child(5) {
    background: url(https://showcase.paulmazeau.com/images/05.webp) no-repeat 50% 50%;
    background-size: cover;
  }
  
  li:nth-child(6) {
    background: url(https://showcase.paulmazeau.com/images/06.webp) no-repeat 50% 50%;
    background-size: cover;
  }
  
  li:nth-child(7) {
    background: url(https://showcase.paulmazeau.com/images/07.webp) no-repeat 50% 50%;
    background-size: cover;
  }
  
  li:nth-child(8) {
    background: url(https://showcase.paulmazeau.com/images/08.webp) no-repeat 50% 50%;
    background-size: cover;
  }
  
  li:nth-child(9) {
    background: url(https://showcase.paulmazeau.com/images/09.webp) no-repeat 50% 50%;
    background-size: cover;
  }
  
  li:nth-child(10) {
    background: url(https://showcase.paulmazeau.com/images/10.webpg) no-repeat 50% 50%;
    background-size: cover;
  }
  
  li:nth-child(11) {
    background: url(https://showcase.paulmazeau.com/images/11.webp) no-repeat 50% 50%;
    background-size: cover;
  }
  
  li:nth-child(12) {
    background: url(https://showcase.paulmazeau.com/images/12.webp) no-repeat 50% 50%;
    background-size: cover;
  }
  
  li:nth-child(13) {
    background: url(https://showcase.paulmazeau.com/images/13.webp) no-repeat 50% 50%;
    background-size: cover;
  }
  
  li:nth-child(14) {
    background: url(https://showcase.paulmazeau.com/images/14.webp) no-repeat 50% 50%;
    background-size: cover;
  }
  
  li:nth-child(15) {
    background: url(https://showcase.paulmazeau.com/images/15.webp) no-repeat 50% 50%;
    background-size: cover;
  }
  
  li:nth-child(16) {
    background: url(https://showcase.paulmazeau.com/images/16.webp) no-repeat 50% 50%;
    background-size: cover;
  }
  
  li:nth-child(17) {
    background: url(https://showcase.paulmazeau.com/images/18.webp) no-repeat 50% 50%;
    background-size: cover;
  }
  
  li:nth-child(18) {
    background: url(https://showcase.paulmazeau.com/images/19.webp) no-repeat 50% 50%;
    background-size: cover;
  }
  
  li:nth-child(19) {
    background: url(https://showcase.paulmazeau.com/images/20.webp) no-repeat 50% 50%;
    background-size: cover;
  }
  
  li:nth-child(20) {
    background: url(https://showcase.paulmazeau.com/images/21.webpg) no-repeat 50% 50%;
    background-size: cover;
  }
  