body::-webkit-scrollbar {
  display: none;
}

:root{ scrollbar-width: none }

.container-animation {
  padding: 0;
  margin: 0;
  height: 600vh;
  width: 100vw;
  overflow: auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.slider-section {
  height: 22vh;
  bottom: 0;
  position: fixed;
  width: 100%;
}

.wheel {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300vw;
  height: 300vw;
  max-width: 2000px;
  max-height: 2000px;
}

.wheel__card {
  position: absolute;
  top: 0;
  left: 0;
  width: 6%;
  max-width: 200px;
  aspect-ratio: 1 / 1;
  cursor: pointer;
}

img {
  width: 100%;
  pointer-events: none;
  z-index: 999;
  cursor: pointer;
}