---
import HeroContainer from '../../layouts/HeroContainer.astro'
import '../../styles/global.css'
import '../../styles/homepage.css'
---
<HeroContainer title="Hero 1">
	<h1>W.I.P</h1>
</HeroContainer>
