---
import HeroContainer from '../../layouts/HeroContainer.astro'
import '../../styles/global.css'
import '../../styles/homepage.css'
import '../../styles/hero/hero9.css'
---

<HeroContainer title="Hero 9">
    <h2 class="counter">29</h2>

    <div class="overlay">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>

    <div class="container">
      <div class="header">
        <div class="h1">f</div>
        <div class="h1">l</div>
        <div class="h1">a</div>
        <div class="h1">u</div>
        <div class="h1">.</div>
      </div>
      <div class="hero">
        <img src="./images/01.webp" alt="" />
      </div>
    </div>
    <script>
        import { gsap } from "gsap"
        function startLoader() {
            var counterElement = document.querySelector(".counter");
            var currentValue = 0;

            function updateCounter() {
            if (currentValue === 100) {
                return;
            }

            currentValue += Math.floor(Math.random() * 10) + 1;

            if (currentValue > 100) {
                currentValue = 100;
            }

            counterElement.textContent = currentValue;

            var delay = Math.floor(Math.random() * 200) + 50;
            setTimeout(updateCounter, delay);
            }

            updateCounter();
        }

        startLoader();
        gsap.to(".counter", 0.25, {
            delay: 3.5,
            opacity: 0,
        });
        gsap.to(".bar", 1.5, {
            delay: 3.5,
            height: 0,
            stagger: {
            amount: 0.5,
            },
            ease: "power4.inOut",
        });
        gsap.from(".h1", 1.5, {
            delay: 4,
            y: 700,
            stagger: {
            amount: 0.5,
            },
            ease: "power4.inOut",
        });

        gsap.from(".hero", 2, {
            delay: 4.5,
            y: 400,
            ease: "power4.inOut",
        });
    </script>
</HeroContainer>

