* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg: #f90000;
    --txt-color: black; 
}


html {
    font-family: system-ui, sans-serif;
}

code {
    font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    transform: scaleX(3);
}

.content {
    max-width: 1200px;
    margin: auto;
}

/* NavBar */

.nav-bar {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px 8px;
    border-bottom: 1px solid #545454;
}

.logo, .links {
    text-transform: uppercase;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--txt-color);
}

