* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: system-ui, sans-serif;
    overflow-x: hidden;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    transform: scaleX(3);
}

.wip {
    margin-top: 40px;
}

.content {
    max-width: 1200px;
    margin: auto;
}

/* NavBar */

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: 40px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px 8px;
    border-bottom: 2px solid black;
}

.logo, .links {
    text-transform: uppercase;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    color: black;
    font-weight: 900;
}

@media (max-width: 768px) {
    h1 {
        font-size: 4vw;
    }
}