---
import Layout from '../layouts/Layout.astro';
import ButtonCard from '../components/ButtonCard.astro'
import Navigation from '../components/Navigation.astro'
import '../styles/global.css'
import '../styles/homepage.css'
---
<Navigation/>
	<Layout title="Button Hall of Fame">
		<div>
			<h1>W.I.P</span></h1>
		</div>
</Layout>
