---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro'
import '../styles/global.css'
import '../styles/homepage.css'
---
<Navigation/>
	<Layout title="Hall of Fame">
		<div class="hero">
			<h1>Hall Of Fame*</h1>
			<h4>THREEJS ++ GSAP HoF</h4>
			<div class="bigRow">
				<div class="barcode">
					<div class="bar thick"></div>
					<div class="bar thin"></div>
					<div class="bar thick"></div>
					<div class="bar thin"></div>
					<div class="bar thick"></div>
					<div class="bar thin"></div>
					<div class="bar thick"></div>
					<div class="bar thin"></div>
					<div class="bar thick"></div>
					<div class="bar thin"></div>
					<div class="bar thick"></div>
					<div class="bar thin"></div>
					<div class="bar thick"></div>
					<div class="bar thin"></div>
					<div class="bar thick"></div>
					<div class="bar thin"></div>
					<div class="bar thick"></div>
					<div class="bar thin"></div>
				</div>
				<h4 class="showcase">SHOWCASE</h4>
			</div>
			<h4 class="author">@USER917531</h4>
		</div>
</Layout>
