---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro'
import '../styles/global.css'
import '../styles/homepage.css'
---
<Navigation/>
	<Layout title="Hall of Fame">
		<div class="hero">
			<h1>W.I.P</h1>
		</div>
</Layout>
