<div class="nav-bar">
    <a class="links" href="#">Previous hero</a>
    <a class="links" href="/">Back Home</a>
    <a class="links" href="#">Source Code</a>
    <a href="#" class="links">Next hero</a>
</div>
