<div class="nav-bar">
    <a id="prev-hero" class="links" href="#">Previous hero</a>
    <a class="links" href="/">Back Home</a>
    <a class="links" href="#">Source Code</a>
    <a id="next-hero" class="links" href="#">Next hero</a>
</div>