<div class="nav-bar">
    <a class="logo" href="/">Hall of Fame</a>
    <a class="links" href="/hero">Hero Section</a>
    <a class="links" href="/garden">Digital Garden</a>
    <a class="links" href="/manifesto">Manifesto</a>
    <a href="https://github.com/PaulMazeau/Button-HoF" class="links">Source code</a>
</div>


